<div class="space-y-4 w-full">
  <h1 class="font-bold text-4xl">Simple URL Shortener</h1>
  <p>Shorten your url. Simple and Easy.</p>

  <div class="border border-slate-300 rounded-md p-8 space-y-4">
    <%= render "create_form", short_url: @short_url %>
  </div>
</div>
